.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

#map {
  width: 100%;
}
#top-nav {
  height: 100px;
  width: 100%;
}
h1 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  color: white;
  padding-top: 35px;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
}