.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

#map {
  width: 100%;
}
#top-nav {
  height: 101px;
  width: 100%;
  background-image: url(../src/img/beachfinder-nav.jpg);
  background-repeat: no-repeat;
  background-color: white;
}
h1 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  color: white;
  padding-top: 30px;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  text-shadow: 2px 2px #525252;
}
#sidebar {
  position: absolute;
  top: 100;
  left: 0;
  width: 400px;
  max-width: 100%;
  height: calc(100% - 101px);
  background-color: white;
}
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
  color: white;
}
 
/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white;
  height: 10%!important;
}
 
/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}
 
/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}
 
/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}
 
/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}
 
/* Individual item */
.bm-item {
  display: inline-block;
}
 
/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}